<div class="row cover-page">
    <div class="cover-page2">
        <div class="row">
            <img src="/assets/images/siwimi/main-logo-stacked.png" width="300" height="136">
        </div>
        <div class="row">
            <p class="lead cover-paragraph">
                Connecting families in your neighborhood
            </p>
            <p class="cover-paragraph">
                Siwimi is a social network for parents who have young children
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-4">
        <div class="cover-page-item">
            {{#link-to 'event.list'}}
                <img width="120" height="120" src="/assets/images/siwimi/circle-events.png">
            {{/link-to}}
            <div>
                <h3>Events</h3>
                <p>
                    Looking for play dates or family events for your children in this coming weekend? You can also
                    publish your children's activity schedules and share with other parents.
                </p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="cover-page-item">

                <img width="120" height="120" src="/assets/images/siwimi/circle-connect.png">

            <div>
                <h3>Connect</h3>
                <p>
                    Search families who live in your neighborhood and connect with them.  You can ask questions, exchange ideas or items.
                </p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="cover-page-item">

                <img width="120" height="120" src="/assets/images/siwimi/circle-assistant.png">

            <div>
                <h3>Virtual Assistant</h3>
                <p>
                    The more you use our software, the better our virtual assistant can give you recommendations on events that you can join.
                    We want to build a smart app that could save your time so you can focus on your kids.
                </p>
            </div>
        </div>
    </div>
</div>