.about-us {
  background-color: $primary-control-color;
  color: white;
}

.story-snippet {
  background-color: white;
  color: black;
  padding: 1em;
}

.cys-highlight {
  color: $primary-control-color;
  font-weight: bold;
}

.center {
  margin: auto;
  padding: 1em;
}